header {
	background-image: linear-gradient(SeaGreen, MediumSeaGreen);
	
}

body {
	padding-top: 200px;
	background-color: MediumSeaGreen;
}

#navbare {
	opacity: 0.8;
}

.dropdown-menu {
  animation: 0.5s slideup;
}

@keyframes slideup {
  from {
    transform: translateY(10%);
  }

  to {
    transform: translateY(0);
  }
}